<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<nav class="container-fluid navbar navbar-expand-md navbar-light bg-light ">
    <a href="#" class="navbar-brand">
        <img src="/images/logo.jpg" width="60px" height="80px" alt="Tài Đại">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
        <div class="navbar-nav ">
            <a href="#" class="nav-item nav-link">Home</a>
            <a href="/car" class="nav-item nav-link">Sản phẩm</a>
            <a href="/brands" class="nav-item nav-link">Hãng xe</a>
            <a href="/hospital" class="nav-item nav-link">Bệnh viện</a>
            <a href="/patients" class="nav-item nav-link">Bệnh nhân</a>
        </div>

        <div class="navbar-nav ml-auto">
            <a href="/car/createCar" class="nav-item nav-link">Login</a>
        </div>
    </div>
</nav>
</html>
