<% include ../menu/menu %>
<form method="post" action="/brands/create" class="container" enctype="multipart/form-data">
    <div class="form-group">
        <label for="formGroupExampleInput">Tên hãng</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Tên hãng">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Logo</label>
        <input type="file" class="form-control" id="formGroupExampleInput2" name="logo" placeholder="Đường dẫn ảnh">
    </div>
    <div class="text-center">
        <button class="btn-primary btn-sm" type="submit">Lưu</button>
        &nbsp;
        <a href="/brand" class="btn-primary btn-sm">Hủy</a>
    </div>
</form>